[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=python /home/slug/Projector/pS.py ON
Name=Turn On Projector
Icon=/home/slug/Projector/on.svg
